html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	line-height: 1.6;
	color: $global-color;
	background-color: $bg-color;
	font-style: normal;
	@extend %Quicksand-medium;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	padding: 120px 0;
}

.visually-hidden {
	display: none;
}

.logo {
	display: inline-block;
	transition: opacity 0.5s, outline 0.5s;

	&:hover {
		opacity: 0.5;
	}

	&:focus {
		outline: 2px solid $button-color;
	}

	&:active {
		opacity: 0.3;
	}
}

%title {
	@extend %Roboto-Bold;
	font-size: 48px;
	line-height: 26px;
	color: $title-color;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.title {
	@extend %title;
}

%link {
	display: inline-block;
	padding: 16px 25px;
	color: $button-color;
	text-transform: uppercase;
	color: $bg-color;
	letter-spacing: 3px;
	@extend %Roboto-Regular;
	border: 1px solid transparent;
	background-color: $button-color;
	transition: color 0.5s, background-color 0.5s, border 0.5s, box-shadow 0.5s, opacity 0.5s;
}

%link:hover {
	color: $button-color;
	background-color: $bg-color;
	border-color: $button-color;
}

%link:focus {
	box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}


%link:active {
	opacity: 50%;
}

.link {
	@extend %link;
}

%heading {
	max-width: 540px;
	width: 100%;
	margin: 0 auto 60px;
	text-align: center;
}

.heading {
	@extend %heading;
}

%link__another {
	background-color: transparent;
	outline: 1px solid $button-color;
	color: $title-color;
}

.link__another {
	@extend %link__another;
}

.sale {
	letter-spacing: 1px;
	line-height: 26px;
	padding: 6px 12px;
	position: absolute;
	left: 25px;
	top: 25px;
}

%top-title {
	font-size: 48px;
	color: #15181d;
	@extend %Roboto-Regular;
	text-transform: uppercase;
	color: #15181d;
	margin-bottom: 15px;
}


.top-title {
	@extend %top-title;
}

%filter {
	padding: 40px 28px;
	margin-bottom: 30px;
	border: 1px solid #ececec;
}

.filter {
	@extend %filter;
}

%filter__title {
	font-size: 22px;
	text-transform: uppercase;
	color: $title-color;
	@extend %Roboto-Regular;
	margin-bottom: 30px;
}

.filter__title {
	@extend %filter__title;
}


%checkbox-none {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
}

.card.active {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	.card__item {
		text-align: center;
		flex-direction: column;
	}

	.card__image {
		margin: 0 auto;
	}

	.card__info {
		display: none;
	}
}

.pagination {
	display: flex;
	justify-content: center;

	&__arrows {
		text-transform: uppercase;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 12px;
			height: 6px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			top: 8px;
		}
	}

	&__prev {
		padding-left: 20px;
	}

	&__next {
		padding-right: 20px;
	}

	&__prev::before {
		transform: rotate(180deg);
		left: 0;
		background-image: url('../images/decors/arrow.svg');
	}

	&__next::before {
		right: 0;
		background-image: url('../images/decors/arrow.svg');
	}

	&__prev {
		margin-right: 25px;
	}

	&__item {
		margin: 0 15px;
	}

	&__list {
		margin-right: 25px;
		display: flex;
	}

	&__item--active {
		color: $button-color;
	}
}

%price {
	color: $title-color;
	@extend %Roboto-Medium;
}

.card__sum {
	@extend %price;
}

%sum-action {
	color: #ccccce;
	text-decoration: line-through;
}

.card__sum-action {
	@extend %sum-action;
}

.hidden {
	display: none;
}