$button-color: #fe3e57;
$global-color: #8d8d8d;
$title-color: #29282d;
$purple: #5800e4;
$yellow: #ffb534;
$blue: #34c3ff;
$bg-color: #fff;
$bg-section: #f6f6f6;

%Quicksand-medium {
    font-family: 'Quicksand-medium', sans-serif;
    font-weight: 500;
}

%Quicksand-regular {
    font-family: 'Quicksand-regular', sans-serif;
    font-weight: 400;
}

%Roboto-Bold {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

%Roboto-Medium {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}
%Roboto-Regular {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}
