$button-color: #fe3e57;
$global-color: #8d8d8d;
$title-color: #29282d;
$bg-color: #fff;
$bg-section: #f6f6f6;

%Quicksand-medium {
    font-family: 'Quicksand-medium', sans-serif;
    font-weight: 500;
}

%Quicksand-regular {
    font-family: 'Quicksand-regular', sans-serif;
    font-weight: 400;
}

%Roboto-Bold {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

%Roboto-Medium {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

%Roboto-Regular {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%link {
    padding: 16px 25px;
    color: $button-color;
    text-transform: uppercase;
    color: $bg-color;
    letter-spacing: 3px;
    @extend %Roboto-Regular;
    border: 1px solid transparent;
    background-color: $button-color;
    transition: color 0.5s, background-color 0.5s, border 0.5s, box-shadow 0.5s, opacity 0.5s;
}

%link:hover {
    color: $button-color;
    background-color: $bg-color;
    border-color: $button-color;
}

%link:focus {
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}


%link:active {
    opacity: 50%;
}

.link {
    @extend %link;
}