@import 'vars';
@import 'reset';
@import 'fonts';
@import 'global';
@import 'libs';

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__inner {
    background-color: $bg-color;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    padding: 0 3px 2px;
    text-transform: uppercase;
    color: $title-color;
    line-height: 100%;
    @extend %Roboto-Bold;
    border-bottom: 1px solid transparent;
    transition: border-bottom 1s, color 1s, outline 0.5s, opacity 0.5s;

    &:hover {
      color: $button-color;
      border-color: $button-color;
    }

    &:focus {
      outline: 1px solid $button-color;
    }

    &:active {
      opacity: 0.5;
    }

  }

  &__item--active {
    border-color: $button-color;
    color: $button-color;
  }
}

.user-navigation {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
  }


  &__item:not(:last-child) {
    margin-right: 27px;
  }

  &__link {
    transition: opacity 0.5s, outline 0.5s;
  }

  &__link::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    width: 22px;
    height: 20px;
  }

  &__link:hover {
    opacity: 0.5;
  }

  &__link:focus {
    outline: 1px solid $button-color;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__profile::before {
    background-image: url('../images/navigations/profile.svg');
  }

  &__search::before {
    background-image: url('../images/navigations/search.svg');
  }

  &__heart::before {
    background-image: url('../images/navigations/heart.svg');
  }

  &__basket::before {
    background-image: url('../images/navigations/basket.svg');
  }

  &__number {
    position: absolute;
    background-color: $button-color;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    top: -9px;
    right: -12px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg-color;
  }
}

.header-slider {
  background-color: $bg-section;

  &__container {
    width: 100%;
    max-width: 1520px;
  }

  &__item {
    height: calc(100vh - 110px);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding-left: 144px;
    max-width: 610px;
    width: 100%;
  }

  &__title {
    margin-bottom: 40px;
    line-height: 68px;
    font-size: 58px;
    color: $title-color;
    @extend %Roboto-Bold;
  }

  &__text {
    margin-bottom: 60px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: relative;

    li:not(:last-child) {
      margin-right: 40px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0;
      border: 1px solid transparent;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      position: absolute;
      bottom: 26px;

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: $global-color;
        border-radius: 50%;
      }
    }

    .slick-active {
      button {
        border-color: $button-color;

        &::before {
          background-color: $button-color;
        }
      }
    }
  }
}

.slider__link {
  padding: 18px 35px;
}

.footer {
  background-color: $bg-section;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
  }

  &__address {
    max-width: 240px;
    width: 100%;
    margin-right: 55px;
  }

  &__link {
    padding: 16px 21px;
    letter-spacing: 1px;
  }
}

.logo__link {
  margin-bottom: 32px;
}

.contacts {
  margin-bottom: 30px;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    font-style: normal;
    transition: color 0.5s, outline 0.5s, opacity 0.5s;

    &:hover {
      color: $button-color;
    }

    &:focus {
      outline: 2px solid $button-color;
    }

    &:active {
      opacity: 50%;
    }
  }

  &__city {
    display: inline-block;
    margin-top: 15px;
  }
}

.socials {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    border-radius: 2px;
  }

  &__link path {
    transition: fill 0.5s, outline 0.5s, opacity 0.5s;
  }

  &__link:hover path {
    fill: $button-color;
  }

  &__link:focus {
    outline: 2px solid $button-color;
  }

  &__link:active path {
    opacity: 0.5;
  }
}

.about-us {
  max-width: 145px;
  width: 100%;
  margin-right: 50px;

  &__title {
    font-size: 22px;
    color: $title-color;
    @extend %Roboto-Medium;
    margin-bottom: 35px;
    line-height: 1.6;
  }

  &__item:not(:last-child) {
    margin-bottom: 17px;
  }

  &__link {
    transition: color 0.5s, outline 0.5s, opacity 0.5s;
  }

  &__link:hover {
    color: $button-color;
  }

  &__link:focus {
    outline: 2px solid $button-color;
  }

  &__link:active {
    opacity: 0.5;
  }
}

.form {
  max-width: 470px;
  width: 100%;

  &__title {
    font-size: 22px;
    color: $title-color;
    @extend %Roboto-Medium;
    margin-bottom: 35px;
    line-height: 1.6;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__input {
    margin-right: 6px;
    padding: 16px 16px;
    max-width: 313px;
    width: 100%;
    background-color: $bg-color;
    transition: box-shadow 0.5s;
  }

  &__input::placeholder {
    transition: opacity 0.5s;
    color: $global-color;
  }

  &__input:hover::placeholder {
    opacity: 0.5;
  }

  &__input:focus {
    box-shadow: 0 7px 15px $button-color;
  }

  &__button {
    background-color: $button-color;
  }
}

.copyright {
  font-size: 12px;
  line-height: 2.8;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__accept {
    margin-right: 18px;
  }

  &__icons {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.availability {

  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before,
    &::after {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -10;
    }

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -50px;
      background-image: url('../images/decors/availability-decor 1.svg');
      width: 125px;
      height: 125px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/decors/availability-decor 2.svg');
      width: 75px;
      height: 58px;
      bottom: -27px;
      right: -21px;
    }
  }

  &__item {
    padding: 60px 40px;
    max-width: 370px;
    width: 100%;
    background-color: $bg-color;
    box-shadow: 20px 0px 30px rgba(202, 202, 202, 0.35);

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 40px;
    }

    &--order::before {
      content: "";
      background-image: url('../images/availability/availability-icon.svg');
    }

    &--return::before {
      background-image: url('../images/availability/availability-icon 2.svg');
    }

    &--support::before {
      background-image: url('../images/availability/availability-icon 3.svg');
    }
  }

  &__title {
    color: $title-color;
    @extend %Roboto-Regular;
    line-height: 1.1;
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.categories {
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__wrap {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__item:nth-child(1) {
    grid-row: span 2;
  }

  &__item:nth-child(2) {
    grid-column: span 2;

    .categories__wrap {
      top: 106px;
    }

    .categories__info {
      color: $button-color;
    }
  }

  &__item:nth-child(3) {
    .categories__info {
      color: $yellow;
    }
  }

  &__item:nth-child(4) {
    .categories__info {
      color: $blue;
    }
  }

  &__info {
    display: inline-block;
    color: $purple;
    margin-bottom: 5px;
  }

  &__caption {
    font-size: 22px;
    line-height: 26px;
    @extend %Roboto-Medium;
    margin-bottom: 7px;
    color: $title-color;
  }

  &__link {
    letter-spacing: 1px;
    color: $title-color;
    text-transform: uppercase;
    @extend %Roboto-Regular;
    border-bottom: 1px solid transparent;
    transition: color 0.5s, border-bottom 0.5s, outline 0.5s, opacity 0.5s;

    &:hover {
      border-bottom: 1px solid $button-color;
      color: $button-color;
    }

    &:focus {
      outline: 1px solid $button-color;
    }

    &:active {
      opacity: 0.5;
    }
  }

}

@import 'media';