@import 'vars';
@import 'reset';
@import 'fonts';
@import 'global';

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__inner {
    background-color: $bg-color;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    padding: 0 3px 2px;
    text-transform: uppercase;
    color: $title-color;
    line-height: 100%;
    @extend %Roboto-Bold;
    border-bottom: 1px solid transparent;
    transition: border-bottom 1s, color 1s, outline 0.5s, opacity 0.5s;

    &:hover {
      color: $button-color;
      border-color: $button-color;
    }

    &:focus {
      outline: 1px solid $button-color;
    }

    &:active {
      opacity: 0.5;
    }

  }

  &__item--active {
    border-color: $button-color;
    color: $button-color;
  }
}

.user-navigation {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
  }


  &__item:not(:last-child) {
    margin-right: 27px;
  }

  &__link {
    transition: opacity 0.5s, outline 0.5s;
  }

  &__link::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    width: 22px;
    height: 20px;
  }

  &__link:hover {
    opacity: 0.5;
  }

  &__link:focus {
    outline: 1px solid $button-color;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__profile::before {
    background-image: url('../images/navigations/profile.svg');
  }

  &__search::before {
    background-image: url('../images/navigations/search.svg');
  }

  &__heart::before {
    background-image: url('../images/navigations/heart.svg');
  }

  &__basket::before {
    background-image: url('../images/navigations/basket.svg');
  }

  &__number {
    position: absolute;
    background-color: $button-color;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    top: -9px;
    right: -12px;

    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg-color;
  }
}


.footer {
  background-color: $bg-section;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
  }

  &__address {
    max-width: 240px;
    width: 100%;
    margin-right: 55px;
  }
}

.logo__link {
  margin-bottom: 32px;
}


.contacts {
  margin-bottom: 30px;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    font-style: normal;
    transition: color 0.5s, outline 0.5s, opacity 0.5s;

    &:hover {
      color: $button-color;
    }

    &:focus {
      outline: 2px solid $button-color;
    }

    &:active {
      opacity: 50%;
    }
  }

  &__city {
    display: inline-block;
    margin-top: 15px;
  }
}

.socials {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    border-radius: 2px;
  }

  &__link path {
    transition: fill 0.5s, outline 0.5s, opacity 0.5s;
  }

  &__link:hover path {
    fill: $button-color;
  }

  &__link:focus {
    outline: 2px solid $button-color;
  }

  &__link:active path {
    opacity: 0.5;
  }
}

.about-us {
  max-width: 145px;
  width: 100%;
  margin-right: 50px;

  &__title {
    font-size: 22px;
    color: $title-color;
    @extend %Roboto-Medium;
    margin-bottom: 35px;
    line-height: 1.6;
  }

  &__item:not(:last-child) {
    margin-bottom: 17px;
  }

  &__link {
    transition: color 0.5s, outline 0.5s, opacity 0.5s;
  }

  &__link:hover {
    color: $button-color;
  }

  &__link:focus {
    outline: 2px solid $button-color;
  }

  &__link:active {
    opacity: 0.5;
  }
}

.form {
  max-width: 470px;
  width: 100%;

  &__title {
    font-size: 22px;
    color: $title-color;
    @extend %Roboto-Medium;
    margin-bottom: 35px;
    line-height: 1.6;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__input {
    margin-right: 8px;
    padding: 16px 16px;
    max-width: 313px;
    width: 100%;
    background-color: $bg-color;
    transition: box-shadow 0.5s;
  }

  &__input::placeholder {
    transition: opacity 0.5s;
    color: $global-color;
  }

  &__input:hover::placeholder {
    opacity: 0.5;
  }

  &__input:focus {
    box-shadow: 0 7px 15px $button-color;
  }

  &__button {
    background-color: $button-color;
  }
}

.copyright {
  font-size: 12px;
  line-height: 2.8;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__accept {
    margin-right: 18px;
  }

  &__icons {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}


@import 'media';